# =============================================================
# Akima — Project dependencies
# Developers: Alyson Henao, Samuel Moncada, Emily Cardona,
#             Jose Miguel Sanchez, Juan Osorio
# =============================================================
# Install all dependencies with:
#   pip install -r requirements.txt
# =============================================================

Django==6.0.2
Pillow==10.4.0
python-dotenv==1.0.0

